<%= link_to "← Retour aux rencontres", meets_path %>

<h1><%= @program.title %></h1>
<br>
<% content = @program.content %>
<% content = JSON.parse(content.gsub("=>", ":")) %>
<h3><%= content["description"] %></h3>
<br>
<% content["exercises"].each do |exercise| %>
  <li>- <%= exercise %></li>
<% end %>
<%= link_to "Créer une rencontre", new_program_meet_path(@program) %>
