<h1 class="flex items-center justify-center gap-3 font-bold mt-12 mx-6">
  Planifier une rencontre
  <i class="fa-solid fa-calendar-days text-6xl"></i>
</h1>
<p class="text-center text-gray-500 mb-12 mx-6 mt-6">
  Choisissez une date, une durée et un terrain pour <%= @program.title %>.
</p>
<div class="mx-6">
  <%= simple_form_for [@program, @meet] do |f| %>
    <%= f.input :date, as: :string, required: false, label: "Date & heure",
        input_html: { type: "datetime-local" } %>
    <%= f.input :duration, required: false,
        collection: [["15 mins", 15], ["30 mins", 30], ["45 mins", 45], ["60 mins", 60], ["90 mins", 90], ["120 mins", 120]],
        prompt: "Choisir la durée",
        label: "Durée du match" %>
    <%= f.association :court,
        collection: Court.all,
        label_method: :name,
        value_method: :id,
        prompt: "Sélectionner un terrain",
        label: "Terrain" %>
    <%= f.button :submit, "Planifier la rencontre" %>
  <% end %>
</div>
