<div class="min-h-screen bg-[#12121e] flex flex-col items-center py-12 px-4 text-white">
  <div class="w-full max-w-md">
    <h1 class="font-bold mb-10 lowercase tracking-tight">Nouveau match</h1>
    <%= simple_form_for(@match, html: { class: "space-y-6" }) do |f| %>
      <%# Type de match %>
      <div class="flex flex-col gap-2">
        <label class="text-gray-300 font-medium">Type de match</label>
        <%= select_tag :match_type,
            options_for_select(["1 vs 1", "3 vs 3", "5 vs 5"]),
            prompt: "Sélectionner le type",
            class: "select select-bordered w-full bg-white/5 border-white/10 text-white focus:border-primary focus:outline-none h-12" %>
      </div>
      <%= f.simple_fields_for :meet, @match.meet || @match.build_meet do |m| %>
        <%# La date %>
        <div class="flex flex-col gap-2">
          <label class="text-gray-300 font-medium">Date</label>
          <%# Le data picker natif au clique %>
          <%= m.input :date,
              as: :string,
              label: false,
              wrapper: false,
              input_html: {
                type: "datetime-local",
                class: "input input-bordered w-full bg-white/5 border-white/10 text-white [color-scheme:dark] focus:border-primary focus:outline-none h-12"
              } %>
        </div>
        <%# La durée %>
        <div class="flex flex-col gap-2">
          <label class="text-gray-300 font-medium ml-1">Durée du match</label>
          <%= m.input :duration,
      collection: [["15 mins", 15], ["30 mins", 30], ["45 mins", 45], ["60 mins", 60], ["90 mins", 90], ["120 mins", 120]],
      prompt: "Choisir la durée",
      label: false,
      wrapper: false,
      input_html: {
        class: "select select-bordered w-full bg-white/5 border-white/10 text-white focus:border-primary focus:outline-none h-12"
      } %>
        </div>
        <%# Le terrain %>
        <div class="flex flex-col gap-2">
          <label class="text-gray-300 font-medium ml-1">Terrain</label>
          <%# pour comprendre que chaque "Meet" appartient à un "Court" %>
          <%= m.association :court,
      collection: Court.all,
      label_method: :name,
      value_method: :id,
      prompt: "Choisir un terrain",
      label: false,
      wrapper: false,
      input_html: {
        class: "select select-bordered w-full bg-white/5 border-white/10 text-white focus:border-primary focus:outline-none h-12"
      } %>
        </div>
      <% end %>
      <div class="pt-6">
        <%# j'ai forcé la couleur orange car cell-ci ne s'affiché par correctement %>
        <%= f.submit "Créer un match",
            class: "btn btn-primary btn-md w-full rounded-box" %>
      </div>

    <% end %>
  </div>
</div>
