<h1 class="flex items-center justify-center gap-3 font-bold mt-12 mx-6">
  Créer un match
  <i class="fa-solid fa-basketball text-6xl"></i>
</h1>
<p class="text-center text-gray-500 mb-12 mx-6 mt-6">
  Choisissez le type de match, la date, la durée et le terrain.
</p>
<div class="mx-6">
  <%= simple_form_for @match do |f| %>
    <%= f.input :match_type, as: :radio_buttons, required: false,
        collection: [["1 vs 1", 1], ["2 vs 2", 2], ["3 vs 3", 3], ["4 vs 4", 4], ["5 vs 5", 5]],
        label: "Type de match" %>
    <%= f.simple_fields_for :meet, @match.meet || @match.build_meet do |m| %>
      <%= m.input :date, as: :string, label: "Date", required: false,
          input_html: { type: "datetime-local" } %>
      <%= m.input :duration, required: false,
          collection: [["15 mins", 15], ["30 mins", 30], ["45 mins", 45], ["60 mins", 60], ["90 mins", 90], ["120 mins", 120]],
          prompt: "Choisir la durée",
          label: "Durée du match" %>
      <%= m.association :court,
          collection: Court.all,
          label_method: :name,
          value_method: :id,
          prompt: "Choisir un terrain",
          label: "Terrain" %>
    <% end %>
    <%= f.button :submit, "Créer un match" %>
  <% end %>
</div>
